{% load static %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Blog - The Story of Babushka </title>
        <!-- stylesheet and meta tag start -->
        {% include 'head.html' %}
        {% block content-head %}
        {% endblock %}
        <!-- stylesheet and meta tag end -->
    </head>
    <body class="post-template-default single single-post postid-938 single-format-standard custom-background theme-babushka woocommerce-no-js elementor-default">
    <div class="contentwrapper">
        <!-- Header start -->
            {% include 'header.html' %}
            {% block content-header %}
            {% endblock %}
        <!-- Header end -->
        <div id="section" class="">
            <section>
                <div class="container">
                    <!-- Logo image start -->
                    <div class="mainlogoblack" id="mainlogo">
                        <a href="{% url 'home' %}">
                            <noscript><img src="https://babushkahistory.herokuapp.com/static/img/Logo_black.svg" alt="logo black"></noscript><img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E'
                            data-src="https://babushkahistory.herokuapp.com/static/img/Logo_black.svg" alt="logo black"></a>
                    </div>
                    <!-- Logo image end -->
                </div>
                <div class="container">
                    <div id="primary" class="site-main aa">
                        <noscript><img src="{% static 'img/butterfly_1.svg'%}" class="rounded mx-auto d-block padd4 butterfly" alt="butterfly" /></noscript>
                        <img
                            src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E"
                            data-src="https://babushkahistory.herokuapp.com/static/img/butterfly_1.svg"
                            class="lazyload rounded mx-auto d-block padd4 butterfly"
                            alt="butterfly"
                        />
                        <article id="post-938" class="post-938 post type-post status-publish format-standard has-post-thumbnail hentry category-latest-news category-launch tag-a-dream-coming-true tag-book-launch tag-the-story-of-babushka">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="entry-content">
                                        <h1>Blog on Babushka</h1>
                                        <p class="p1" style="text-align: left;"><span class="s1">When people hear the word ‘Babushka’, they usually think of the small Russian dolls that open in the middle and contain smaller versions of themselves.

                                            But ‘Babushka’ – which means ‘grandmother’ in Russian – is also a famous Christmas story in Russia about the story of an old woman who met the Three Wise men on their way to see Jesus.

                                            According to the story, a women called Babushka used to live in a small peasant town in Russia. She always worked hard cleaning and keeping her house tidy; it was the cleanest house in the whole village. But Babushka’s talents didn’t stop there. Her garden was full of flowers and her cooking was fantastic.

                                            One evening she was busy dusting and cleaning away, she was so engrossed in her work that she didn’t hear her neighbours outside talking about a bright new star in sky. She had heard about the star but thought it was a lot of fuss about a star. “I don’t have the time to look because I’m so behind with my work.” she said. “I must work all night!”</i>. </span></p>
                                            <p class="p1" style="text-align: left;"><span class="s1">She missed the star as it shone in the sky, and she missed the little line of twinkling lights coming down towards the village at dawn. She didn’t hear the sounds of the pipes and drums playing music, and she missed her neighbours whispering in wonder at what the lights were.

                                            And she finally missed when all the villagers went quiet, and didn’t hear when the sound of footsteps came up the path to her door. But she didn’t miss the loud knocking on her front door moments later! “What is that?” she wondered. When the door opened, Babushka’s mouth dropped in amazement.

                                            There were three kings at her door with one of their servants! “My masters need a place to rest,” said the servant, “and yours is the best house in the village.” “You want to stay here?” asked Babushka. “Yes”, replied the servant. “It would only be until night falls and the star appears again.” Babushka was nervous, and gulped. “Come in, then.” she said.

                                            As soon as they walked across the threshold, the three kings were delighted with all the food they saw: home-baked bread, pies and cakes. Babushka dashed about, serving them and offering the best of her hospitality, asking lots of questions.

                                            </span></p>
                                                                                        <p class="p1" style="text-align: left;"><span class="s1">“Have you come a long way?” Babushka asked. “A very long way”, sighed the first king, Caspar. “Where are you going?” she continued. “We’re following the new star”, said the second king, Melchior. “But where?”, Babushka wondered.

                                            The three kings said they didn’t know, but they believed that the star would lead them to a new-born king, a King of Earth and Heaven. “Why don’t you come with us?” asked the third king, Balthasar. “You could bring him a gift like we do. I bring gold, and my colleagues bring spices and perfumes.”

                                            “Oh”, said Babushka, “I’m not sure that he would welcome me” she said. “And what could I bring for a gift? Toys! I know I could bring a toy. I’ve got a cupboard full of toys.” she said sadly. “My baby son died when he was small.”

                                            Balthasar stopped Babushka as she went to tidy the kitchen up. “This new king could be your king too. Come with us when the star appears tonight”, he said. “I’ll think about it”, sighed Babushka.

                                            As the kings slept, Babushka tidied up as quietly as she could. “What a lot of extra work there was!” she thought, “and this new king, what a funny idea, to go off with the kings to find him.”

                                            Babushka shook herself. There was no time for dreaming, all this washing-up and putting away had to be done. “Anyway,” she thought, “how long would she be away? What would she wear? What about the gift?” She sighed. “There is so much to do. The house will have to be cleaned when they’ve gone. I couldn’t just leave it.”

                                            </span></p>
                                            <p class="p1" style="text-align: left;"><span class="s1">PS. If you purchase the book, ebook, or audiobook, posting a review on Amazon, Goodreads, your own blog, or on Instagram would really mean a lot to me!</span></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <hr>
                        <!-- Comment getting form start -->
                        
                        <!-- Comment getting form end -->
                        <u><h2 class="h-com" id="showComment" >View Comments</h2></u>
                        <div id="comments" class="comments-area">
                            <ol class="comment-list">
                                <!-- Single comment start -->
                                <li class="comment odd alt thread-odd thread-alt depth-1">
                                    <article class="comment-body" data-url="{% url 'commentlistview' %}">
                                        
                                    </article>
                                </li>
                                <!-- Single comment end -->
                            </ol>
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3>
                                
                                <!-- Comment form start -->
                                <form action="{% url 'comment' %}" method="post" id="commentform" class="comment-form " >
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 validate">
                                            <p class="comment-form-author">
                                                <label for="author"></label>
                                                <input id="author" name="name" placeholder="Name" type="text" value="" size="30" maxlength="245" />
                                                <div class="form-text-message"></div>
                                            </p>
                                        </div>
                                        <div class="col-md-6 validate">
                                            <p class="comment-form-email">
                                                <label for="email"></label>
                                                <input placeholder="Email" id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" />
                                                <div class="form-text-message"></div>
                                            </p>
                                        </div>
                                        <div class="col-12 validate">
                                            <p class="comment-form-comment">
                                                <label for="comment"></label>
                                                <textarea placeholder="Your comment" id="comment" name="comment" cols="35" rows="6" maxlength="65525" aria-required="true" required></textarea>
                                                <div class="form-text-message"></div>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                        <div class="form-message"></div>
                                    </p>
                                </form>
                                <!-- Comment form end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            
            $('h2#showComment').click(function() {
                // $('article.comment-body').show();
                $('article.comment-body').html('');
                $.ajax({
                    url: $('article.comment-body').data('url'),
                    type: "GET",
                    dataType: 'json',
                    success: function(data){
                        $.each(JSON.parse(data), function(index, item) {
                            console.log(item.fields.name +', '+ item.fields.comment);
                            $('article.comment-body').append('<footer class="comment-meta"><div class="comment-author vcard"><img src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2032%2032%22%3E%3C/svg%3E" data-src="https://babushkahistory.herokuapp.com/static/img/avatar-100x100.png" width="32" height="32" alt="Avatar" class="lazyload avatar avatar-32wp-user-avatar wp-user-avatar-32 alignnone photo avatar-default" /> <b class="fn">'+ item.fields.name +' </b> <span class="says">says:</span></div></footer><div class="comment-content"><p> '+ item.fields.comment+'</p></div> ');
                        });
                    },
                    error: function(resp){
                        alert("Something went wrong");
                    }
                });
            });

            $("#commentform").on("submit", function(e){
                e.preventDefault();
                e.stopPropagation();
                var $this = $(this);
                var valid = true;
                $('#commentform input').each(function() {
                    let $this = $(this);
                    
                    if(!$this.val()) {
                        valid = false;
                        $this.parents('.validate').find('.form-text-message').text('The '+$this.attr('name').replace(/[\_]+/g, ' ')+' field is required').fadeOut(10000);
                    }
                });
                if(valid){
                    let data = $this.serialize();
                    $.ajax({
                        url: $this.attr("action"),
                        type: "POST",
                        data: data,
                        dataType: "json",
                        success: function(resp){
                            if(resp.message == "success"){
                                // alert("Saved successful");
                                $("#commentform")[0].reset();
                                $(".form-message").append("Comment added successfully").fadeOut(10000);
                            }
                            else{
                                alert(resp.message);
                            }
                        },
                        error: function(resp){
                            $(".form-message").append("Couldn't save data. Something went wrong").fadeOut(10000);
                        }
                    });
                }
                return false;
            });
        </script>
        <!-- Footer start -->
            {% include 'footer.html' %}
            {% block content-footer %}
            {% endblock %}
        <!-- Footer end -->
</body>
</html>

